<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :card_name %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, id: :card_color %>
  </div>

  <div class="field">
    <%= form.label :converted_manacost %>
    <%= form.number_field :converted_manacost, id: :card_converted_manacost %>
  </div>

  <div class="field">
    <%= form.label :how_many %>
    <%= form.number_field :how_many, id: :how_many %>
  </div>

  <div class="field">
    <%= form.label :cardtype %>
    <%= form.text_field :cardtype, id: :card_cardtype %>
  </div>

  <div class="field">
    <%= form.label :subtype %>
    <%= form.text_field :subtype, id: :card_subtype %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :card_description %>
  </div>

  <div class="field">
    <%= form.label :front_image %>
    <%= form.text_area :front_image, id: :card_front_image %>
  </div>

  <div class="field">
    <%= form.label :back_image %>
    <%= form.text_area :back_image, id: :card_back_image, value: default_back_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
