<p id="notice"><%= notice %></p>
<div class="page">
  <div class="heading">
    <h1>Cards: <%= @cards.count %></h1>
    <%= link_to 'New card', new_card_path, class: 'btn btn-magic' %>
    <%= link_to 'Draw', card_path(draw_card), class: 'btn btn-magic' %>
    <%= link_to 'Deck', decks_path, class: 'btn btn-magic' %>
  </div>

  <% @cards.each do |card| %>
    <div class="body">
      <div class="mtg-card">
        <%= link_to (image_tag card.front_image, width: 167.25, height: 232.5), card %>
      </div>
    </div>
  <% end %>
</div>
