<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @card.color %>
</p>
<p>
  <strong>Converted manacost:</strong>
  <%= @card.converted_manacost %>
</p>

<p>
  <strong>Description:</strong>
  <%= @card.description %>
</p>

<p>
  <%= image_tag @card.front_image, width: 223, height: 310 %>
  <%= image_tag @card.back_image, width: 223, height: 310 %>
</p>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
