<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @card.color %>
</p>
<p>
  <strong>Converted manacost:</strong>
  <%= @card.converted_manacost %>
</p>
<p>
  <strong>How Many:</strong>
  <%= @card.how_many %>
</p>

<p>
  <strong>Type:</strong>
  <%= @card.cardtype %> -
  <%= @card.subtype %>

</p>

<p>
  <strong>Description:</strong>
  <%= @card.description %>
</p>

<p>
  <%= link_to "Flip Card", flip_card_path(@card) %>
</p>




<p>
  <%= image_tag @card.front_image, width: 223, height: 310 if @card.side == 'front' %>
  <%= image_tag @card.back_image, width: 223, height: 310  if @card.side == 'back' %>
</p>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Destroy', @card, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', cards_path %>
